@using EntityLayer.Concrete
@model List<Portfolio>

<div class="section px-2 px-lg-4 pt-5" id="portfolio">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Portfolio </h2>
        </div>
        <div class="grid bp-gallery pb-3" data-aos="zoom-in-up" data-aos-delay="100">
            @foreach (var portfolio in Model)
            {
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <figure class="portfolio-item">
                        <img src="~/Template/images/portfolio/@portfolio.ImageUrl" data-bp="images/portfolio/1.jpg" />
                        <figcaption>
                            <h4 class="h5 mb-0"> @portfolio.Name </h4>
                            <div> @portfolio.Platform </div>
                        </figcaption>
                    </figure>
                </div>
            }
        </div>
    </div>
</div>