@using EntityLayer.Concrete
@model List<Message>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header bg-white text-black d-flex justify-content-between align-items-center">
            <span class="btn btn-rounded btn-outline-dark">
                <i class="mdi mdi-battery-charging-90"></i> İletişim Kutusu
            </span>
        </div>
        <div class="body">
            <table class=" table table-bordered table-dark text-white table-striped fs-4 py-lg-3">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Gönderen </th>
                        <th> Tarih </th>
                        <th> Sil </th>
                        <th> Detay </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var message in Model)
                    {
                        <tr>
                            <td> @message.MessageId </td>
                            <td> @message.Name </td>
                            <td> @message.Date.ToShortDateString()</td>
                            <td>
                                <a href="/MessageContact/DeleteMessage/@message.MessageId" class="btn btn-rounded btn-outline-danger">
                                    <i class="mdi mdi-delete"></i> Sil
                                </a>
                            </td>
                            <td>
                                <a href="/MessageContact/MessageDetails/@message.MessageId" class="btn btn-rounded btn-outline-primary">
                                    <i class="mdi mdi-information-outline"></i> Detay
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

