@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="container">
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="card-header bg-white text-black d-flex justify-content-between align-items-center">
                <span class="btn btn-rounded btn-outline-dark">
                    <i class="mdi mdi-battery-charging-90"></i> Hizmet Ekleme Sayfası
                </span>
                <a href="/Experience/Index/" class="btn btn-rounded btn-outline-info">
                    <i class="mdi mdi-plus"></i> Hizmet Listesine Dön
                </a>
            </div>
            <div class="body">
                @using (Html.BeginForm("AddService", "Service", FormMethod.Post))
                {
                    @Html.Label("Deneyim Adı")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br />

                    @Html.Label("Resim")
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    <br />
                    
                    <button class="btn btn-outline-warning"> <i class="mdi mdi-content-save-outline"></i>  Kaydet </button>
                }
            </div>
        </div>
    </div>
</div>


